.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:  #f2f2f2;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  position: relative;
  
  /* выше установили ограничения для секции */
}
.logo{
  width:183;
   height:32;
   top:30px;
   left: 64px;
}

.logo_place_header{
  position: absolute;
  
}
.title{
  width: 730px;
  font-size: 102px;
  line-height:96px;
  font-weight: bold;
  padding-left: 64px;
}
/*.title_place_header{
  position: absolute;
}*/
.subtitle{
  width: 388px;
  font-size: 18px;
  line-height:25px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
  display: inline;
}
.subtitle_place_header{
  position: absolute;
}
.link{
  left: 64px;
  bottom: 30px;
  color:  #2f80ed;
  text-decoration: none;
  font-size:18px;
}
/*.link_place_header{
  position: absolute;
}*/
.main-illustration{
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index:2 ;
}
.main-illustration_place_header{
  position: absolute;
}

.square-pic{
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  background-color:  #2f80ed;
  z-index:1 ;
}

.square-pic_place_header{
position: absolute;
}

.description{
  /*display: flex;
  justify-content: center;*/
  border: 3px solid blue;
  margin-bottom: 100px;
}

.two-columns{
  display: flex;
  /*align-items: center;*/
  margin:0 auto ;
  justify-content: space-between;
  width: 80%;
  border: 3px solid red;
}

.two-columns_brief{
  font-size: 18px;
  color:  #2f80ed;
  line-height:1.2;
  font-weight: normal;
  width: 175px;
  border: 3px solid green;
}

.two-columns_main-text{
  width: 80%;
  min-width: 784px;
  list-style-type:none;
  border: 3px solid green;
}

.two-columns_paragraph{
  font-size: 24px;
  line-height:34px;
  font-weight: normal;
  padding-bottom: 30px;
  border: 3px solid black;
}
li:last-of-type{
  padding-bottom: 0;
}
.two-columns_span-accent{
  font-size: 24px;
  line-height:34px;
  font-weight:bold;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/*.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}